{% extends 'main.html' %}

{% load static %}

{% block content %}
<div class="contact-us">
    <div class="main-section">
        <div class="main-section-header">
            <div class="main-container">
                <h2>Informasi Lebih Lanjut</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
            </div>
        </div>

        <div class="main-container">
            <div class="main-row">

                <div class="contact-info-section">
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fas fa-home"></i>
                        </div>

                        <div class="contact-info-content">
                            <h4>Alamat</h4>
                            <p>Jl. Setia Budi, Gg. AMIK Universal Simpang Pemda, <br>Tj. Sari, Kec. Medan Selayang, Kota Medan, <br>Sumatera Utara 20132</p>
                        </div>
                    </div>

                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fas fa-phone"></i>
                        </div>

                        <div class="contact-info-content">
                            <h4>Telepon</h4>
                            <p>061-8212785</p>
                        </div>
                    </div>

                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fas fa-envelope"></i>
                        </div>

                        <div class="contact-info-content">
                            <h4>Email</h4>
                            <p>amik@universal.ac.id <br />amikuniversal.medan@gmail.com</p>
                        </div>
                    </div>
                </div>

                <div class="contact-form-section">
                    <form action="" id="contact-form">
                        <h2>Send Message</h2>
                        <div class="input-container">
                            <input type="text" required="true" name="">
                            <span>Full Name</span>
                        </div>

                        <div class="input-container">
                            <input type="email" required="true" name="">
                            <span>Email</span>
                        </div>

                        <div class="input-container">
                            <textarea required="true" name=""></textarea>
                            <span>Type your Message...</span>
                        </div>

                        <div class="input-container">
                            <input type="submit" value="Send" name="">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}